body {
  margin: 0;
  padding-top: 80px;
  background-color: black;
  color: white;
}

header {
  background-color: red;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.comic-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
  margin-top: 100px;
  padding-bottom: 100px;
}

.comic {
  position: relative;
}

.comic-image {
  position: relative;
  overflow: hidden;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

.comic-image img {
  width: 100%;
  height: auto;
  display: block;
}

.comic-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding: 10px;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.comic-image:hover .comic-title {
  transform: translateY(0);
}

.favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.favorite-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.favorite-icon {
  width: 30px;
  height: 30px;
  transition: all 0.3s ease;
  display: block;
  margin: 0;
  padding: 0;
}

.comic-image:hover {
  border-bottom: 5px solid red;
}

.comic-image.favorite {
  border: 5px solid red;
}

.comic-image:hover .favorite-icon {
  content: url('/assets/heart_hover.png');
}
.pagination {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: calc(100% - 40px);
}

.pagination-link {
  padding: 10px 20px;
  background-color: white;
  color: red;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
}

.pagination-link.previous {
  align-self: flex-start;
}

.pagination-link.next {
  align-self: flex-end;
}

.pagination-link:hover {
  background-color: lightgray;
}

.pagination-link.disabled {
  background-color: grey;
  pointer-events: none;
}
